.Document {
  height: 100vh;
  width: 100vw;
}

.App {
  font-family: "lato", sans-serif;  
  text-align: center;
  background-color: #F5DD90;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

ul a {
  text-decoration: none;
  list-style: none;
  padding: 20px;
  font-size: 10px;
  font-weight: bold;
}

ul a:hover {
  background-color: #a0b5f359;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

}

.nav a {
  text-decoration: none;
  color: #2a469c;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  font-weight: 600;
  font-size: 30px;
  padding: 20px 20px 10px 10px;
  display: inline-block;
  margin-top: 10px;
  width: 200px;
}

.navBar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 219, 125);
}

.nav img {
  display: inline;
  color: #F2542D;
}

.title-center {
  margin-top: 10px;
}

.title-center a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #324376;
  color: white;
  width: 100vw;
}

.overview h2 {
  font-size: 18px;
  width: 290px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.overview h4 {
  border: 3px solid #586BA4;
  padding: 15px;
  font-size: 15px;
}

.overview-container {
  width: 100%;
  padding: 30px 20px;
}

.dateUpdated {
  font-size: 10px;
}

.stateInfoData {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
}

.stateInfoData h4 {
  font-size: 14px;
}

.center {
  text-align: center;
}

.positive {
  color: tomato
}

.negative {
  color: lime;
}

.stateInfoContainer {
  min-height: 100vh;
  background-color: #324376;
}

input {
  color: black;
}

.ByCountryDiv {
  height: 100vh;
  width: 100%;
}

.placeHolder {
  height: 100vh;
}

.CountryInfoContainer {
  min-height: 100vh;
  background-color: #324376;
  padding-top: 30px;
  width: 100%;
}

.CountryInfoData {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding-top: 20px;
}

.mostCommonSymptomList li{
  list-style-position: outside;
}

.AboutContainer {
  padding: 50px 26px;
}

.globalOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.globalOverview h4 {
  border: 3px solid #586BA4;
  padding: 20px;
}

.global-overview-container {
  padding: 40px;
}
 
#searchByState {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #253258;
  color: rgba(255, 255, 255, 0.795);
}

.footer p {
  font-size: 11px;
  margin: 0;
  padding: 5px 15px;
}


/* ---------------- */
/* RESPONSIVE DESIGN */

@media only screen and (max-midth: 430px) {
  .globalOverview h4 {
    font-size: 15px;
  }
}
/* ---TABLET / PC ---*/

@media only screen and (min-width: 756px) {
  ul a {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: bold;
  }
  
  ul a:hover {
    background-color: #a0b5f359;
  }
  
  .navBar ul {
    display: flex;
    flex-direction: row;
    margin: 0;
  
  }
  
  .nav a {
    text-decoration: none;
    color: #2a469c;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav h1 {
    font-weight: 600;
    font-size: 40px;
    padding: 20px 20px 20px 10px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .navBar {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 219, 125);
  }
  
  .nav img {
    display: inline;
    color: #F2542D;
  }
  
  .title-center {
    margin-top: 10px;
  }
  
  .title-center a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #324376;
    color: white;
  }
  
  .overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  
  .overview h4 {
    border: 3px solid #586BA4;
    padding: 20px;
  }
  
  .overview-container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  
  .dateUpdated {
    font-size: 10px;
  }
  
  .stateInfoData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .center {
    text-align: center;
  }
  
  .positive {
    color: tomato
  }
  
  .negative {
    color: lime;
  }
  
  .stateInfoContainer {
    min-height: 100vh;
    background-color: #324376;
  }
  
  input {
    color: black;
  }
  
  .ByCountryDiv {
    height: 100vh;
  }
  
  .placeHolder {
    height: 100vh;
  }
  
  .CountryInfoContainer {
    min-height: 100vh;
    background-color: #324376;
    padding: 40px 70px;
  }
  
  .CountryInfoData-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .CountryInfoData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
    width: 520px;
  }
  
  .mostCommonSymptomList li{
    list-style-position: outside;
  }
  
  .AboutContainer {
    padding: 50px 140px;
  }
  
  .globalOverview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .globalOverview h4 {
    border: 3px solid #586BA4;
    padding: 20px;
    font-size: 18px;
  }
  
  .global-overview-container {
    padding: 30px;
  }
  
  #searchByState {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #253258;
    color: rgba(255, 255, 255, 0.795);
  }
  
  .footer p {
    font-size: 11px;
    margin: 0;
    padding: 5px 15px;
  }
}

